@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

html, body {
	color: #424242;
	cursor: default;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	height: 100%;
	margin: 0px;
	width: 100%;
}

a {
	color: #424242;
	cursor: pointer;
}

h1 {
	font-size: 3.6em;
	font-weight: 300;
	margin: 0px;
	padding: 12px 0px 12px 0px;
}

p {
	font-size: 1.2em;
	font-style: italic;
	margin: 0px;
	padding: 12px 0px;
}

.centerizer {
	background-color: #FAFAFA;
	color: #424242;
	display: table;
	height: 100%;
	width: 100%;
}

.slide:nth-child(even) .centerizer {
	background-color: #424242;
	color: #FAFAFA;
}

.centerizer-content {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

#logo {
	height: 120px;
}